@use "../../colors";
div.job {
    width: auto;
    border-radius: 4px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.219);
    margin: 7px;
    div.title-bar {
        background-color: colors.$primary-dark;
        color: colors.$on-primary-color;
        padding: 0.5em;
        border-radius: 4px 4px 0 0;
        border: none;
        position: relative;
        span.fold-icon {
            position: absolute;
            right: 5px;
            height: 20px;
            width: 20px;
            img {
                height: 100%;
                width: 100%;
                transform: rotate(-90deg);
                transition: transform 0.2s;
            }
            img:hover {
                cursor: pointer;
            }
    
            img.unfold {
                transform: rotate(-180deg);
            }
        }
        span.loading-icon {
            position: absolute;
            right: 10px;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            padding: 0px;
            overflow: hidden;
            img {
                height: 100%;
                width: 100%;
                background-color: rgba(153, 153, 153, 0.521);
                transition: all 1s ease;
            }
            img.rotating {
                animation: rotation 1s infinite linear;
                background-color: rgb(99, 108, 161);
            }

            @keyframes rotation {
                from {
                    transform: rotate(0deg);
                }
                to {
                    transform: rotate(360deg);
                }
            }
        }
        span.hidden {
            display: none;
        }
        span.name {
            display: inline-block;
            position: relative;
            width: 80%;
            overflow: hidden;
        }
        
    }
    div.body {
        background-color: colors.$primary-color;
        color: colors.$on-primary-color;
        padding: 0.5em;
        border-radius: 0 0 4px 4px;
        transition: all 0.1s ease-out;
        div.image-container {
            display: block;
            
            overflow: hidden;
            text-align: center;
            img {
                width: 100%;
            }
            img:hover {
                cursor:zoom-in;
            }
        }
        div.result-container {
            background-color: colors.$on-primary-color;
            color: colors.$primary-color;
            border-radius: 3px;
            margin: auto;
            margin-top: 1em;
            margin-bottom: 1em;
            padding: 1em;
            height: 100px;
            
            overflow-y: scroll;
            display: block;
            font-size: 12px;
            
        }
        
        div.footer {
            margin: auto;
            display: block;
            
            div {
                display: inline-block;
                margin: 3px;
                padding: 2px;
                text-align: center;
                border: none;
                
                img {
                    margin: 0;
                    height: 20px;
                }
            }
            div.clipboard {
                background-color: rgb(79, 190, 79);
                float: right;
            }
            div.inspect {
                background-color: rgb(170, 170, 255);
                float: right;
            }
            div.delete {
                background-color: rgb(196, 88, 88);
                float: right;
            }
            div.status {
                background-color: gray;
                font-size: 15px;
                padding: 7px;
                margin: 3px;
                border-radius: 1em;
                color: colors.$primary-dark;
            }

            div.status-pending {
                background-color: colors.$status-pending;
            }

            div.status-processing {
                background-color: colors.$status-processing
            }

            div.status-done {
                background-color: colors.$status-done
            }

            div.status-failed {
                background-color: colors.$status-failed
            }

            div:hover {
                cursor: pointer;
            }

        }
    }

    div.body.hidden {
        //display: none;
        opacity:0;
        height: 0;
        padding: 0;
        overflow: hidden;
    }
}