@use '../../breakpoints';

div.job-container {
    margin: auto;
    margin-top: 1em;
    margin-bottom: 10em;
    max-width: 800px;
}

@media (min-width: breakpoints.$small) {
    //@import './JobsContainer_small';
}

@media (min-width: breakpoints.$medium) {
    //@import './JobsContainer_medium';
}

@media (min-width: breakpoints.$wide) {
    //@import './JobsContainer_wide';
}

