div.floating-upload-button {
  position: fixed;
  z-index: 100;
  bottom: 30px;
  right: 10px;
  background-color: #0D0D0D;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 3px 3px 3px rgba(20, 20, 20, 0.514);
}
div.floating-upload-button img {
  display: block;
  margin: auto;
  margin-top: 15px;
  height: 25px;
}

div.floating-upload-button:hover {
  box-shadow: none;
  cursor: pointer;
  box-shadow: none;
}

/*# sourceMappingURL=FloatingActionButton.css.map */
