div.job {
  width: auto;
  border-radius: 4px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.219);
  margin: 7px;
}
div.job div.title-bar {
  background-color: #0D0D0D;
  color: #E6E6E6;
  padding: 0.5em;
  border-radius: 4px 4px 0 0;
  border: none;
  position: relative;
}
div.job div.title-bar span.fold-icon {
  position: absolute;
  right: 5px;
  height: 20px;
  width: 20px;
}
div.job div.title-bar span.fold-icon img {
  height: 100%;
  width: 100%;
  transform: rotate(-90deg);
  transition: transform 0.2s;
}
div.job div.title-bar span.fold-icon img:hover {
  cursor: pointer;
}
div.job div.title-bar span.fold-icon img.unfold {
  transform: rotate(-180deg);
}
div.job div.title-bar span.loading-icon {
  position: absolute;
  right: 10px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  padding: 0px;
  overflow: hidden;
}
div.job div.title-bar span.loading-icon img {
  height: 100%;
  width: 100%;
  background-color: rgba(153, 153, 153, 0.521);
  transition: all 1s ease;
}
div.job div.title-bar span.loading-icon img.rotating {
  animation: rotation 1s infinite linear;
  background-color: #636ca1;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
div.job div.title-bar span.hidden {
  display: none;
}
div.job div.title-bar span.name {
  display: inline-block;
  position: relative;
  width: 80%;
  overflow: hidden;
}
div.job div.body {
  background-color: #232323;
  color: #E6E6E6;
  padding: 0.5em;
  border-radius: 0 0 4px 4px;
  transition: all 0.1s ease-out;
}
div.job div.body div.image-container {
  display: block;
  overflow: hidden;
  text-align: center;
}
div.job div.body div.image-container img {
  width: 100%;
}
div.job div.body div.image-container img:hover {
  cursor: zoom-in;
}
div.job div.body div.result-container {
  background-color: #E6E6E6;
  color: #232323;
  border-radius: 3px;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  height: 100px;
  overflow-y: scroll;
  display: block;
  font-size: 12px;
}
div.job div.body div.footer {
  margin: auto;
  display: block;
}
div.job div.body div.footer div {
  display: inline-block;
  margin: 3px;
  padding: 2px;
  text-align: center;
  border: none;
}
div.job div.body div.footer div img {
  margin: 0;
  height: 20px;
}
div.job div.body div.footer div.clipboard {
  background-color: #4fbe4f;
  float: right;
}
div.job div.body div.footer div.inspect {
  background-color: #aaaaff;
  float: right;
}
div.job div.body div.footer div.delete {
  background-color: #c45858;
  float: right;
}
div.job div.body div.footer div.status {
  background-color: gray;
  font-size: 15px;
  padding: 7px;
  margin: 3px;
  border-radius: 1em;
  color: #0D0D0D;
}
div.job div.body div.footer div.status-pending {
  background-color: #ebeb71;
}
div.job div.body div.footer div.status-processing {
  background-color: #8f8fc0;
}
div.job div.body div.footer div.status-done {
  background-color: #70bb74;
}
div.job div.body div.footer div.status-failed {
  background-color: #e77777;
}
div.job div.body div.footer div:hover {
  cursor: pointer;
}
div.job div.body.hidden {
  opacity: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
}

/*# sourceMappingURL=Job.css.map */
