.upload-progress-bar {
  background-color: #232323;
  margin: 0.5em;
  position: relative;
  padding: 0.5em;
  box-shadow: 3px 3px 3px rgba(8, 8, 8, 0.452);
}
.upload-progress-bar div.upload-progress-indicator {
  background-color: #81830f;
  height: 100%;
  width: 30%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: width 0.5s;
}
.upload-progress-bar span.name {
  display: inline-block;
  color: #E6E6E6;
  z-index: 1;
  position: relative;
  max-width: 40%;
  overflow: hidden;
  overflow-x: scroll;
  scrollbar-width: none;
}
.upload-progress-bar span.name::-webkit-scrollbar {
  display: none;
}
.upload-progress-bar span.percentage {
  position: absolute;
  left: 50%;
  z-indeX: 1;
  color: #E6E6E6;
  z-index: 1;
}
.upload-progress-bar span.delete {
  position: absolute;
  right: 0.5em;
  color: #E6E6E6;
  z-index: 1;
}
.upload-progress-bar span.delete:hover {
  cursor: pointer;
}

div.upload-progress-failed {
  background-color: #7a0202;
  color: blue;
}

/*# sourceMappingURL=UploadProgress.css.map */
