.login-banner {
    border: 0;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 93% 100%, 0% 100%);
    position: relative;
    div.content {
        margin-top: 25vh;
        h1.headline {
            font-size: 4em;

        }
        p.sub-headline {
            font-size: 2.5em;
        }
    }
    div.footer {
        color: rgb(160, 160, 160);
        display: block;
        position: absolute;
        bottom: 0em;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0 auto;
    }
}