@use '../../colors';
@use '../../breakpoints';

.login-banner-shadow {
    filter: drop-shadow(2px 2px 3px black);
}

.login-banner {
    background-color: colors.$primary-color;
    color: colors.$on-primary-color;
    padding: 1em;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 86%);
    box-sizing: border-box;
    div.header {
        a.gitlab-logo {
            display: block;
            text-decoration: none;
            color: inherit;
            width: fit-content;
            text-align: center;
            
            img {
                height: 1.5em;
                margin-right: 0.5em;
            }
            span {
                display: inline-block;
                font-size: 1.5em;
            }

        }
    }
    div.content {
        width: fit-content;
        margin: auto;
        margin-top: 70px;
        margin-bottom: 100px;
        h1.headline {
            text-align: center;
            font-size: 2em;
            font-weight: bold;
            margin-bottom: 20px;
        }
        p.sub-headline {
            font-size: 1.5em;
            text-align: center;
            padding: 0 2em;
            word-wrap: break-word;
        }
    }
    div.footer {
        display: none;
    }
}

@media (min-width: breakpoints.$small) {
    @import './Banner_small';
}
@media (min-width: breakpoints.$medium) {
    @import './Banner_medium';
}
@media (min-width: breakpoints.$wide) {
    @import './Banner_wide';
}
@media (min-width: breakpoints.$x-wide) {
    @import './Banner_x_wide';
}