@use '../../breakpoints';

span.copyright-footer {
    width: fit-content;
    color: rgb(92, 92, 92);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0em;
}

@media (min-width: breakpoints.$wide ) {
    @import './Footer_wide';
}