nav.nav {
    .header {
        display: block;
        height: 40px;
        float: left;
        font-size: 25px;
        font-weight: bold;
        background-color: colors.$primary-dark;
        color: colors.$on-primary-color;
        padding: 5px;
        padding-left: 0.5em;
        padding-right: 1em;
        clip-path: polygon(0 0, 100% 0, 87% 100%, 0% 100%);
    }
    .toolbar {
        width: 50%;
        .searchbar {
            margin-left: 3em;
            input[type="text"] {
                width: 25em;
            }
        }
    }
}